.profile_pic{
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
    text-align: center;
}

.profile_pic img {
    height: 115px;
    border-radius: 59px;
}

.section1 .card-image img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto; 
}

.section1 .card.small .card-content{
       height: auto;
}

.section1 .card-action{
    position: relative!important
    
}

.section1 .card.small {
    height: auto;
}
.color-white{
    color: #ffffff!important
}

#index-banner {
  background-image: url("http://wallpapercave.com/wp/aZlqiAT.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


